@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/opensans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/opensans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Italic;
    src: url(fonts/opensans/OpenSans-Italic.ttf);
}


body {
    position: relative;
    font-size: 16px;
    min-width: 320px;
}

a{
    text-decoration: none;
    color: inherit;
}

@import "import/vars";
@import "import/mixins";
@import "import/template";
@import "import/header";
@import "import/main";
@import "import/footer";
@import "import/media";